 <article class="main-content">
    <h3>Generate recipe</h3>
    <article>
      <h5>
        Got random stuff in your kitchen? Pop it in—we’ve got the perfect recipe
        waiting.
      </h5>

      <div class="ingredients-container">
        <div class="add-ingredient">
          <div class="ingredient">
            <label for="ingredients">Ingredients</label>
            <input [(ngModel)]="ingredient" type="text" />
          </div>

          <div class="ingredient">
            <label for="ingredients">Serving size</label>

            <div class="add-unit">
              <div class="quantity">
                <input [(ngModel)]="crowd" type="number" />
              </div>

              <div class="custom-select" tabindex="0" (blur)="closeDropdown()">
                <div class="selected" (click)="toggleDropdown()">
                  {{ selectedUnit }}
                  <img
                    class="arrow"
                    [src]="
                      isOpen
                        ? '/img/arrow_drop_up.png'
                        : '/img/arrow_drop_down.png'
                    "
                    alt="Dropdown arrow"
                  />
                </div>

                <div class="options" *ngIf="isOpen">
                  <div
                    class="option"
                    *ngFor="let unit of units"
                    (click)="selectUnit(unit)"
                  >
                    {{ unit }}
                  </div>
                </div>
              </div>

              <div class="add-to" (click)="addIngredient()">
                <img src="/img/button Add to.png" alt="Add ingredient" />
              </div>
            </div>
          </div>
        </div>

        <app-single-ingredient></app-single-ingredient>
      </div>
    </article>

    <aside class="next-step">
      @if(ingredients.length > 0) {
      <button [routerLink]="'/generate_recipe/preferences'" class="primary-btn-green">Next step</button>
      }
    </aside>
  </article>