@use "./../../../styles.scss" as *;
@use "./../../../mixins.scss" as *;

ul {
  width: 100%;
  @include displayFlex(row, space-between, center, 0);
  @include styleFont("Quicksand", 18px, 500);
}

.edit-delete {
  @include displayFlex(row, center, center, 16px);
}

.ingredients-list-righside {
  min-height: 209px;
  width: 478px;
  border-radius: 20px;
  padding: 24px;
  @include displayFlex(column, flex-start, flex-start, 24px);
  background-color: rgba($color: #396039, $alpha: 0.3);

  .list-ingredients {
    width: 100%;
    @include displayFlex(column, flex-start, flex-start, 6px);
  }
}
