@use "./../../mixins.scss" as *;
@use "./../../styles.scss" as *;

section {
  app-header {
    width: 100%;
  }

  @include displayFlex(column, center, center, 64px);
}

.main-content {
  @include displayFlex(column, center, center, 24px);

  article {
    @include displayFlex(column, center, center, 64px);
  }
}

.add-ingredient {
  padding: 25px 32px;
  background-color: rgba(var(--secondary-btn-green), 0.3);
  border-radius: 20px;
  div {
    @include displayFlex(column, flex-start, center, 16px);

    label {
      @include styleFont("Quicksand", 20px, 500);
    }
  }
}
