@use "./../../mixins.scss" as *;
@use "./../../styles.scss" as *;

section {
  app-header {
    width: 100%;
  }
  @include displayFlex(column, center, center, 64px);
}

@media(max-width: 800px) {
  section {
    gap: 40px;
  }
}