<section class="max-width">
  <div>
    <app-header [logoColor]="'green'"></app-header>
    <article (click)="goToRecipeResults()" class="back-link">
      <img src="/img/Arrow_left.png" alt="Arrow left" />
      <span>Recipe results</span>
    </article>
  </div>

  <main>
    <app-detail-header></app-detail-header>
    <app-ingredients></app-ingredients>
    <app-directions></app-directions>
    <aside>
      <div>
        <strong>Just finished this meal? </strong>
        <span>Give it a heart, so that the others know this is delicious.</span>
      </div>
      <img src="/img/Heart.png" alt="Heart">
    </aside>
  </main>
</section>