<section class="max-width">
  <app-header></app-header>

  <main>
    <section class="overview">
      <aside class="main-information">
        <div>
          <img src="/img/schedule.png" alt="Schedule" />
          <span>Cooking time: 20 min</span>
        </div>
        <h3>Pasta with spinach and cherry tommatoes</h3>
        <div>
          <span>Cooking person: 2</span>
        </div>
      </aside>

      <aside class="nutritional-information"></aside>

    </section>
  </main>
</section>
