@use "./../../mixins.scss" as *;
@use "./../../styles.scss" as *;

section {
  @include displayFlex(column, center, flex-start, 64px);
}

main {
  @include displayFlex(column, center, center, 48px);
  padding: 40px 48px;
  background-color: rgba($color: #faf0e6, $alpha: 0.3);
  border-radius: 20px;
  border: 4px solid var(--creamy);
  width: 1248px;

  aside {
    @include displayFlex(row, center, center, 24px);

    div {
      @include styleFont("Mulish", 20px, 400);
      color: var(--green-dark);
    }
  }
}

.main-information {
  width: 619px;
}