<section class="max-width">
  <app-header></app-header>

  <main>
    <section class="overview">
      <aside class="main-information">
        <div>
          <img src="/img/schedule.png" alt="Schedule" />
          <span>Cooking time: 20 min</span>
        </div>
        <h3>Pasta with spinach and cherry tommatoes</h3>
        <div>
          <span>Cooking person: 2</span>
        </div>
      </aside>

      <aside class="nutritional-information">
        <div class="recipe-infos">
          <div class="selected-btn">Vegetarian</div>
          <div class="selected-btn">Vegetarian</div>
          <div class="selected-btn">Vegetarian</div>
        </div>

        <div class="nutrial-informations">
            <p>Nutritional information</p>
            <table>
                <tr>
                    <td class="designation">Energie</td>
                    <td>450 kcal</td>
                </tr>
                <tr>
                    <td class="designation">Protein</td>
                    <td>15 g</td>
                </tr>
                <tr>
                    <td class="designation">Fat</td>
                    <td>60 g</td>
                </tr>
                <tr>
                    <td class="designation">Carbs</td>
                    <td>10 g</td>
                </tr>
            </table>
        </div>
        
      </aside>
    </section>

    <section class="directions"></section>
  </main>
</section>
