@use "./../../mixins.scss" as *;

section {
  @include displayFlex(row, space-between, flex-start, 0);
}

.bg-color-start {
  background-color: var(--bg-color);
}

.left-side-start {
  padding-left: 65px;
  height: 100vh;
  @include displayFlex(column, space-between, flex-start, 0);

  .head {
    padding: 40px 40px 0 3px;
  }
}

.right-side-start {
  picture {
    height: 100vh;
    display: flex;
  }
}

.footer-start {
  @include displayFlex(row, center, center, 16px);
  div {
    padding: 16px 26px;
    @include displayFlex(row, center, center, 10px);

    button {
      background-color: var(--bg-color);
    }
  }
}

.main-content-start {
  @include displayFlex(column, flex-start, flex-start, 64px);
}

@media (max-width: 1000px) {
  section {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .main-content-start {
    h2 {
      font-size: 24px;
    }

    h1 {
      font-size: 64px;
    }
  }

  .footer-start {
    flex-direction: column;
    align-items: flex-start;
    div {
      padding: 0;
    }
  }
}

@media (max-width: 475px) {
  .left-side-start {
    padding-left: 16px;
  }
  .main-content-start {
    h2 {
      font-size: 16px;
    }

    h1 {
      font-size: 48px;
    }
  }

  h4 {
    font-size: 20px;
  }

  .secondary-btn-cream {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .main-content-start {
    h1 {
      font-size: 36px;
    }
  }
}
