<section class="bg-color-start">
  <section class="max-width">
    <article class="left-side-start">
      <aside class="head">
        <img src="/img/logo_image.png" alt="Logo_Image" />
        <img src="/img/logo_lettering.png" alt="Logo_Lettering">
      </aside>

      <aside class="main-content-start">
        <div class="main-content-start-headline">
          <h2>AI-Powered recipe generator</h2>
          <h1>Code à Cuisine</h1>
        </div>
        <div [routerLink]="'/generate_recipe'">
          <button class="primary-btn-creme">Get started</button>
        </div>
      </aside>

      <aside class="footer-start">
        <h4>Hungry for Inspiration?</h4>
        <div>
          <button class="secondary-btn-cream">Go to cookbook</button>
          <img src="/img/arrow_right.png" alt="Arrow right">
        </div>
      </aside>
    </article>

    <article class="right-side-start">
      <img src="/img/Visuals.png" alt="Different Dishes" />
    </article>
  </section>
</section>
