<section class="bg-color-start">
  <section class="max-width">
    <article class="left-side-start">
      <aside class="head">
        <img src="/img/logo_image.png" alt="" />
        <span>Code à Cuisine</span>
      </aside>

      <aside class="main-content-start">
        <h2>AI-Powered recipe generator</h2>
        <h1>Code à Cuisine</h1>
        <div>
          <button>Get started</button>
        </div>
      </aside>

      <aside class="footer-start">
        <h4>Hungry for Inspiration?</h4>
        <div>
          <button>Go to cookbook</button>
        </div>
      </aside>
    </article>

    <article class="right-side-start">
      <img src="/img/Visuals.png" alt="Different Dishes" />
    </article>
  </section>
</section>
