<section>
  <article>
    @if(logoColor == 'green') {
    <img src="/img/logo_image_green.png" alt="Logo_Image" />
    <img src="/img/logo_lettering_green.png" alt="Logo_Image" />
    } @else {
    <img src="/img/logo_image.png" alt="Logo_Image" />
    <img src="/img/logo_lettering.png" alt="Logo_Image" />
    }
  </article>

  <!-- @if(this.router.url == '/recipe_detail') {
  <article class="back-link">
    <img src="/img/Arrow_left.png" alt="Arrow left" />
    <span>Recipe results</span>
  </article>
  } -->
</section>