@use "./../../../mixins.scss" as *;

section {
  padding: 40px 40px 0 0px;
  @include displayFlex(column, flex-start, flex-start, 32px);

  span {
    @include styleFont('Quicksand', 14px, 500);
    color: var(--middle-green);
  }

  .back-link {
    @include displayFlex(row, flex-start, center, 8px);
    cursor: pointer;

    span {
      @include styleFont('Quicksand', 14px, 500);
      color: var(--middle-green);
    }
  }
}
