  <div class="time-cuisine-diet">
    <div class="flexbox">
      <div class="headline">
        <img src="/img/schedule.png" alt="" />
        <h5>Cooking time:</h5>
      </div>

      <div class="buttons-time">
        <div>
          <button (click)="selectOption('Quick')">Quick</button>
          <span>ab to 20 min</span>
        </div>

        <div>
          <button (click)="selectOption('Medium')">Medium</button>
          <span>25-40 min</span>
        </div>

        <div>
          <button (click)="selectOption('Complex')">Complex</button>
          <span>over 45 min</span>
        </div>
      </div>
    </div>
  </div>
