@use "./../../styles.scss" as *;
@use "./../../mixins.scss" as *;

.recipe-results {
  height: 100vh;
  background-color: var(--secondary-btn-green);

  div {
    position: fixed;
    padding-left: 68px;
  }
}

article {
  @include displayFlex(row, center, center, 0);
}

.header {
  @include displayFlex(row, flex-start, center, 0);
}

.flexbox {
  @include displayFlex(column, center, center, 0);
  height: 100%;
}