<section>
  <aside class="ingredients">
    <div class="hero">
      <img src="/img/Hero Directions.png" alt="Ingredients" />
      <h2>Ingredients</h2>
    </div>

    <aside class="ingredients-list">
      <div class="own-ingredients">
        <span>Your ingredients</span>
        <ul>
          <li>80g Pasta noodles</li>
          <li>100g Baby spinach</li>
          <li>150g Cherry tomatoes</li>
          <li>1 piece Egg</li>
        </ul>
      </div>
      <div class="extra-ingredients">
        <span>Extra ingredients</span>
        <ul>
          <li>40g Parmesan cheese</li>
          <li>30ml Olive oil</li>
          <li>Herbs (dry basil, oregano, garlic)</li>
        </ul>
      </div>
    </aside>
  </aside>
</section>

