@use "./../../../mixins.scss" as *;
@use "./../../../styles.scss" as *;

section {
  @include displayFlex(column, center, center, 56px);
}

.portions-persons {
  @include displayFlex(row, center, center, 120px);
}

.portions,
.persons {
  @include displayFlex(column, flex-start, flex-start, 16px);

  span {
    @include styleFont("Quicksand", 20px, 500);
    color: var(--green-dark);
  }

  aside {
    @include displayFlex(row, center, center, 8px);
  }

  .number-count {
    padding: 1px 5px;
    padding-top: 0;
    background-color: rgba($color: #396039, $alpha: 0.2)
  }

  button {
    @include displayFlex(row, center, center, 0);
  }
}
