<section>
  <aside class="ingredients">
    <div class="hero">
      <img src="/img/Hero Ingredients.png" alt="Ingredients" />
    </div>

    <aside class="ingredients-list">
      <div class="own-ingredients">
        <span>Your ingredients</span>
        <table>
          <tr>
            <td>
              <ul>
                <li>100 g</li>
                <li>200 ml</li>
                <li>1 Stück</li>
                <li>½ TL</li>
              </ul>
            </td>
            <td class="beschreibungen">
              <div>Mehl</div>
              <div>Milch</div>
              <div>Ei</div>
              <div>Salz</div>
            </td>
          </tr>
        </table>
      </div>
      <div class="extra-ingredients">
        <span>Extra ingredients</span>
        <ul>
          <li>40 g Parmesan Cheese</li>
          <li>40 g Parmesan Cheese</li>
          <li>40 g Parmesan Cheese</li>
          <li>40 g Parmesan Cheese</li>
        </ul>
      </div>
    </aside>
  </aside>
</section>
