@use "./fonts.scss";
@use "./mixins.scss" as *;

:root {
  --bg-color: rgb(57, 96, 57);
  --creamy: #faf0e6;
  --creamy-hover: #fae0c6;
  --F5F5DC: #f5f5dc;
  --secondary-btn-green: #396039;
  --middle-green: #1e5515;
  --green-dark: #10310b;
  --green-btn-hover: #055e05;
  --grey-background: #DBE0DB;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.max-width {
  max-width: 1440px;
  margin: auto;
}

h1 {
  @include styleFont("Ubuntu", 104px, 700);
  color: var(--creamy);
}

h2 {
  @include styleFont("Quicksand", 48px, 600);
  color: var(--F5F5DC);
}

h3 {
  @include styleFont("Quicksand", 54px, 600);
  color: var(--middle-green);
}

h4 {
  @include styleFont("Ubuntu", 32px, 500);
  color: var(--creamy);
}

h5 {
  @include styleFont("Quicksand", 24px, 500);
  color: var(--green-dark);
}

h6 {
  @include styleFont("Quicksand", 28px, 600);
  color: var(--green-dark);
}

.primary-btn-creme {
  padding: 16px 26px;
  background-color: var(--creamy);
  @include styleFont("Quicksand", 24px, 600);
  color: var(--btn-green);
  border: none;

  &:hover {
    background-color: var(--creamy-hover);
    font-weight: 700;
    font-weight: bold;
    cursor: pointer;
  }
}

.secondary-btn-cream {
  border: none;
  border-radius: 5px;
  @include styleFont("Quicksand", 20px, 500);
  color: var(--creamy);
}

.primary-btn-green {
  padding: 16px 26px;
  background-color: var(--bg-color);
  @include styleFont("Quicksand", 24px, 600);
  color: var(--creamy);
  cursor: pointer;

  &:hover {
    background-color: var(--green-btn-hover);
    font-weight: 700;
    color: #ffff;
  }
}

input {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--creamy);
  border: none;
  outline: none;
  border-radius: 20px;
  @include styleFont("Quicksand", 16px, 500);
  color: var(--green-dark);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.selected-btn {
  padding: 6px 12px;
  border-radius: 30px;
  background-color: var(--creamy);
  @include styleFont("Quicksand", 20px, 500);
  color: var(--middle-green);
  cursor: pointer;

  &:hover {
    background-color: #fae0c6;
  }
}
